<template>
  <button class="btn" @click="start">Click me! 🔮</button>
</template>

<script>
export default {
  name: "Event",
  methods: {
    start() {
      this.$emit("start");
    },
  },
};
</script>

<style></style>
