<template>
  <button class="btn" @click="clickFn">Click me! 🔮</button>
</template>

<script>
export default {
  name: "FunctionProp",
  props: {
    clickFn: {
      type: Function,
      default: () => ({}),
    },
  },
};
</script>
