<template>
  <div>
    Count is <span class="count">{{ count }}</span>
    <button @click="increment" class="btn">Increase</button>
  </div>
</template>

<script>
export default {
  name: "MethodTest",
  data: () => ({
    count: 0,
  }),
  methods: {
    increment() {
      this.count++;
    },
  },
};
</script>
