<template>
  <button class="btn" @click="start">Click me! 🔮</button>
</template>

<script>
export default {
  name: "Method",
  methods: {
    start() {
      this.play();
      this.play();
    },
    play() {
      return false;
    },
  },
};
</script>
