<template>
  <button class="btn" @click="start">Click me! 🔮</button>
</template>

<script>
export default {
  name: "Method",
  methods: {
    start() {
      console.info("Make request or trigger vuex action");
    },
  },
};
</script>
