<template>
  <div :class="{ 'is-authenticated': authenticated }">
    <h1 v-if="authenticated">Hello User!</h1>
    <h2 v-else>Good day Guest!</h2>
  </div>
</template>

<script>
export default {
  name: "Snapshot",
  props: {
    authenticated: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style></style>
