<template>
  <div>Rendering data</div>
</template>

<script>
// import axios from "axios"
export default {
  name: "AsyncComponent",
  created() {
    this.makeApiCall();
  },
  methods: {
    async makeApiCall() {
      console.log("Making api call");
      // await axios.get('....')
    },
  },
};
</script>
