<template>
  <div>
    <AsyncComponent />
  </div>
</template>

<script>
import AsyncComponent from "./AsyncComponent";
export default {
  name: "ParentComponent",
  components: { AsyncComponent },
};
</script>

<style></style>
